<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Search engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/}" method="post" class="searchForm">
    <input type="text" th:value="${searchQuery}" name="searchQuery" class="searchField"/>
    <input type="submit" class="searchButton"/>
</form>
<table class="results" th:if="${searchResults != null}">
    <thead>
    <tr th:if="${searchResults != null && !searchResults.empty}">
        <th class="maximize">Search results</th>
    </tr>
    <tr th:if="${searchError != null}">
        <th th:text="${searchError}" class="errors"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${searchResults == null || searchResults.isEmpty()}">
        <td> No search results</td>
    </tr>
    <tr th:if="${searchResults != null && !searchResults.isEmpty()}" th:each="searchResult, _ : ${searchResults}">
        <td class="result"><a th:href="${searchResult.url}"><div class="maximize"><span th:text="${searchResult.description}"> Title </span></div></a></td>
    </tr>
    </tbody>
</table>

</body>
</html>