body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.results {
    width: 100%;
}

.results .errors {
    background-color: white;
    color: #421300;
    border-color: #421300;
}

.results td, .results th {
    border: 1px solid #ddd;
    padding: 8px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
}

a:active {
}

a:visited {
}

.results tr:nth-child(even){background-color: #f2f2f2;}

.maximize {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.result {
    padding: 0 !important;
}

.result:hover {box-shadow: 0 0 2px 2px #aaa;}

.results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-color: #4CAF30;
    color: #4CAF30;
}

.searchForm {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 2vh 0;
}

.searchForm * {
    padding: 0.5em;
    margin: auto;
}

.searchField {
    width: 80%;
}

.searchButton {
    flex-grow: 1;
    background-color: #4CAF30;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 38px;
}


.results tr .url {
    font-size: 0.8em;
    color: cornflowerblue;
}

.results tr .title {
    font-size: 1.2em;
}

.results tr .description {

}

.results tr a:hover {
    text-decoration: none;
    color: black;
}

.results tr a:hover .url {
    color: #47639f;
}

.page {
    min-height: 48px;
    float:left;
    text-decoration: underline;
    padding: 1em 1em;
}

.currentPage a {
    color: black !important;
}

.page a {
    color: cornflowerblue;
}

.page:hover a {
    color: #47639f;
}

.currentPage {
    min-height: 48px;
    text-decoration: underline;
    font-weight: bold;
    padding: 1em 1em;
}

body {
    padding: 5vh 2vw;
}
